{% extends 'foodie/base.html' %}
{% load static %}

{% block header %}
    <!-- <header class="py-5 mb-3 bg-image-full">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Django Startup</h1>
                    </div>
                </div>
            </div>
        </div>
    </header> -->
    <header id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/image/top_01.jpg">
                <div class="carousel-caption">
                    <h1 class="display-2">Django Startup</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/image/top_02.jpg">
            </div>
            <div class="carousel-item">
                <img src="/static/image/top_03.jpg">
            </div>
        </div>
    </header>

{% endblock header %}

{% block content %}
    <h2 class="mb-4">条件からお店を探す <i class="fas fa-utensils my-icon2"></i></h2>
{% endblock content %}